/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */
.product-plp-grid .product-grid.btn-grey>.fl-button{
    display: block !important;
}
.display_none{display:none;}
.slick-track {
    display: flex !important;
    align-items: center;
    justify-content: center;
/*     width: 100% !important; */
}
.gfield_captcha_input_container {
    max-width: 150px;
}
.uabb-image-carousel .slick-slide img{
	max-height: 200px;
}
.post-349375 .slick-track img{
	max-height: 180px;
    max-width: 250px;
}
.post-349375 .slick-track > .slick-slide:first-child img{
	margin-left: auto;
}
.fl-page {
    width: auto;
}
.fl-page-content > .container > .row > .col-md-8, .fl-page-content > .container > .row > .col-md-4{
	padding-top: 140px!important;
}
.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: auto;
    padding: 5px 20px;
    max-width: 600px;
}
.custom_searchHeader i{
	font-size: 20px!important;
}
.product-detail-layout-5 {
	padding-top: 180px;
}
 .button-wrapper .getcoupon-btn:hover{
   		background-color: #000!important;
		color: #fff!important;
   }
.button-wrapper a{
   		text-transform: uppercase!important;
   }

.fr_popup{
	    display: none;
}
.fl-content-slider .slider-menu{
	height: 0px!important;
	display: none!important;
}
footer .storename .address a p{
    margin: 0px;
    padding: 0px; 
}
/*header sticky css */

.hoverWay .affectcol > div{
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);	
}

.hoverWay .affectcoltwo > div{
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0% 100%, 0% 0%, 25% 0%);
}
.hoverWay .affectcoltwoSide > div{
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.gfield {
	padding-right: 15px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
.timeEstimate .ginput_container_time > input, .timeEstimate .ginput_container_time > select{
	padding: 0px 6px!important;
}
.timeEstimate .gfield_time_ampm{
	min-width: 80px!important;
}

.timeEstimate .gfield_time_ampm > select{
	min-width: 60px!important;
}
.timeEstimate .gfield_time_hour i{
	margin-top: 0px!important;
}
.gform_wrapper textarea.large {
    height: 200px!important;
    width: 100%;
}
 .custom_searchHeader{
 	position: relative;
 	z-index: 10;
 }
.footerAddressBox .uabb-infobox-text.uabb-text-editor > p:first-child {
    display: none!important;
}
.fl-content-full.container > .row > .fl-content.col-md-12{
	padding: 0px!important;
}
.breadcrumbOnheader span{
    text-shadow: 0px 1px 10px rgba(0,0,0,0.8);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 1px;
}
.breadcrumbOnheader span a{
    color: #fff;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 1px;
}
.breadcrumbOnheader span a:hover{
    color: #bb0400;
}
.custom_searchHeader i:hover{
	cursor: pointer!important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span:before{
	    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
#responsive-menu-container #responsive-menu-additional-content .phone a span{
	 color: #fff!important;
}
#responsive-menu-search-box{
	padding-top: 0px!important;
}
.search-row{
	padding-top: 140px!important;
}
.fl-module-content > .uabb-gf-style .gform_wrapper .gfield select{
	margin-top: 0px !important;
}
.fl-module-content > .uabb-gf-style .gform_wrapper .gfield .gfield_time_ampm > select{
margin-top: 10px !important;
}
.custombanneralert {
    margin-top: 148px;
	font-size: 19px !important;
}	
.rmp-menu-additional-content .phone {
    text-align: left;
}
.rmp-menu-additional-content .phone a {
    color: #fff;
}




#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #000000;
    border-top: 1px solid #fff;
  }
  
  
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #f5f5f5 !important;
    opacity: 0.7;
  }
  
  .moove-gdpr-button-holder>button.mgbutton {
    background-color: #bb0400 !important;
    color: #fff !important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: 1px solid #fff !important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #000000  !important;
    color: #fff!important;
    text-transform: uppercase!important;
    border: 1px solid #fff !important;
  }
  
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #000 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #bb0400 !important;
    border: 1px solid #fff !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
  #moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #fff !important;
    background-color: #000000  !important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #000000  !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #bb0400 !important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;  
      
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #000000  !important;
    color: #fff !important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #bb0400 !important;
  }


@media(min-width:1023px){
	.fl-slide-2 .fl-slide-photo, .fl-slide-3 .fl-slide-photo {
		margin-top: 160px!important;
	}
}
/* Responsive css start here  */
@media(min-width: 768px){
.bgHideDesk .fl-col-content{
	position: absolute!important;
}
.bgHideDesktwo .fl-col-content{
	background: transparent!important;
}
}


@media(max-width: 992px){ 
    .facetwp-template .product-grid .product-row>.col-md-4 {
     width: 33.33%;
     float: left;
     clear: none!important;
    }
    .close_sidebar_button, .open_sidebar {
        display: block;
    }
    .facet_filters {
        position: fixed;
        top: 0;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,.4);
    }
    .facet_filters {
        z-index: 9991!important;
    }
    #product-list-top-filters .fl-heading, .facetwp-counts, .facetwp-pager, .facetwp-per-page, .open_sidebar {
        text-align: center!important;
    }
    .close_sidebar_button, .open_sidebar {
        display: block;
    }

    .open_sidebar a.fl-button {
        display: inline-block!important;
    }
    .open_sidebar a {
        float: none!important;
    }
    .fa-close:before, .fa-remove:before, .fa-times:before {
        content: "\f00d";
    }
    .close  .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }	
    .facet_filters .close_bar {
        display: block!important;
    }	
    .col-md-5.col-sm-12.product-box > .row > div {
        margin: 0 auto!important;
        text-align: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0!important;
    }
	.affectcol > div, .affectcoltwo > div{
		clip-path: none!important;
	}
 	    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 600px!important;
    }
	.fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
		min-height: 600px;
	}
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 600px!important;
        text-align: center!important;
        vertical-align: middle;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
		max-height: 600px!important;
		width: auto;
		margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 600px !important;
		max-height: 600px !important;
    }
	.product-attributes table {
		table-layout: fixed!important;
	}
	.fl-content-slider .fl-slide-bg-link {
	    z-index: +2;
	}
    .rmp-container .rmp-menu-wrap .rmp-menu .rmp-submenu .rmp-menu-item-link {
        height: auto !important;
        line-height: 1.4 !important;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
    .topBar .fl-rich-text > p{
        display: none;
    }
    .topBar .fl-rich-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .topBar .fl-rich-text ul{
        margin: 0 10px!important;
    }
    .topBar .fl-rich-text ul p{
        margin-bottom: 0px!important;
    }
    
    .topBar .fl-rich-text ul:first-child a{
        text-align: left!important;
    }
    .topBar .fl-rich-text ul:last-child a{
        text-align: right!important;
    }
    .header_bottom_global a:hover{
        color: #ccc!important;
    }
}



@media(max-width: 768px){

	.product-detail-layout-5 .product-attributes tr td {
			text-align: left!important;
	}
	.m20 .fl-module-content{
		margin: 40px!important;		
	}
	.respon-menu {
		padding-left: 15%!important;
	}
	.bgHideDesktwo > div{
		background-attachment: scroll!important;		
	}
	#breadcrumbs{
		display: none!important;
	}
	.max-width-issue img{
		max-width: 360px!important;
		margin: 0 auto!important;
	}
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
			padding: 0px!important;
	}
	.affectcol > div, .affectcoltwo > div{
		clip-path: none!important;
	}
}
@media (max-width: 500px){
    .facetwp-template .product-grid .product-row>.col-md-4 {
       width: 100%;
   }
   .topBar .fl-rich-text ul p a,
    .topBar .fl-rich-text ul p{
        text-align: left!important;
    }
    .topBar .fl-rich-text ul{
        width: 50%;
    }
}
@media(max-width: 425px){

.m20 .fl-module-content{
	margin: 20px!important;		
}
button#responsive-menu-button {
    top: 25px!important;
}
#responsive-menu-container {
    width: 85%!important;
}
.custombanneralert {
    margin-top: 105px;
}	
}

@media(max-width: 340px) {
	.fl-rich-text h1 {
		font-size: 30px;
	}
}
 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #bb0400 !important;
    color: #bb0400 !important;
}
